doctype html
html
  head
  script(src='/js/jquery-3.2.1.js')
  script(src='/js/view.js')
  title Sensor node

  body
  
    button#ledOnButton LED ON
    br
    button#ledOffButton LED OFF
    br
    button#envReadButton Get temp and humidity
    br
    div#resultDiv
    br
